@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-color-card: 32, 32, 32;
    --main-opacity-card: .7;
    --main-opacity-card-hover: .4;
    --main-body-color: rgb(255, 255, 255);
    --main-footer-color: rgb(178, 178, 178);
    --main-footer-shadow-color: rgba(0, 0, 0, 1);
}

body {
    font-family: Ubuntu;
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: url(https://radio.r4v3.party/static/uploads/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--main-body-color);
}

a {
    color: var(--main-body-color);
    text-decoration: none;
}

.titlebox {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 1.25em;
    background: rgba(var(--main-color-card), var(--main-opacity-card));
}

#title {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#subtitle {
    color: #AFAFAF;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contentbox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.icon {
    width: 1.5em;
}

.radbox {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 1.25em;
    background: rgba(var(--main-color-card), var(--main-opacity-card));
    transition: .2s;
    cursor: pointer;
}

.radbox:hover {
    background: rgba(var(--main-color-card), var(--main-opacity-card-hover));
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer a {
    color: var(--main-footer-color);
    text-decoration: none;
}
.footer span {
    color: var(--main-footer-color);
    text-shadow: 1px 1px 2px var(--main-footer-shadow-color);
}